<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <h4>About us</h4>
                        <p>We are actively pursuing our Service Disabled Veteran Owned Small Business certification.</p>
                    </div>

                    <div class="col-md-4"></div>

                    <div class="col-md-4">
                        <p><small>© 2019, Bayline Solutions, LLC </small></p>
                    </div>
            </div>
        </div>
    </div>
</footer>
