<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Bayline Solutions, LLC" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <title>Bayline Solutions, LLC - {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  {% include navigation.html %}
  {{ content }}
  {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/css/bootstrap.js"></script>
</body>

</html>